*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Text', serif;
}

body {
    background-color: #f4f4f4;
    color: #2c3e50;
    line-height: 1.6;
    font-size: 16px;
    min-height: 100vh;
    padding: 20px;
}

.wrapper {
    background-color: #d5e4f4;
    max-width: 1500px;
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(2rem, 8vw, 4rem); /* Escala según el tamaño de la pantalla */
    color: #2c3e50;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(1rem, 4vw, 1.5rem);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1 1 calc(33% - 20px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #0056b3;
}

#spinner {
    width: 24px;
    height: 24px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007BFF;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.info-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}

.totals.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.totals h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #2c3e50;
}

.totals p {
    font-size: 1rem;
    color: #555;
}

.formatted-number, .difference {
    font-weight: bold;
    color: #007BFF;
}

.percent-message {
    color: #27ae60;
}

footer {
    background-color: #2c3e50;
    color: #f4f4f4;
    font-size: 1rem;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    width: 100%;
}