<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sitio web para analisis de resumenes financieros">
        <title>Resumenes</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="icon" type="image/png" sizes="16x16" rel="icon" href="/static/assets/phone-and-cash.png">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
        <div id="totalValue" data-total="{{data1['total']}}" style="display:none;"></div>
        <div id="lastTotalValue" data-last-total="{{data1['last_total']}}" style="display:none;"></div>
        <script src="/static/js/scripts.js"></script>
        <script type="module">
            import { RelativeTimeElement } from "https://cdn.skypack.dev/@github/relative-time-element";
        </script>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>Resumenes</h1>
                <article class="buttons">
                    <button class="actualizar-button-style" id="actualizar-hoy">
                        Hoy
                    </button>
                    <button class="actualizar-button-style" id="actualizar-total">
                        Total 
                    </button>
                    <button class="actualizar-button-style" id="actualizar-parcial">
                        Parcial
                    </button>
                    <div id="spinner" style="display: none;"></div>
                </article>
            </header>
            <main>
                <article class="info-cards">
                    <section id="total-hoy" class="card">
                        <h2>Total de Hoy</h2>
                        <p>
                            <h3 id="total" class="formatted-number">{{data1['total']}}</h3>
                            <div>
                                Última vez actualizado:
                                <relative-time 
                                    id="last-report-date"
                                    lang="es"
                                    datetime="{{data1['last_report_date']}}"
                                ></relative-time>
                            </div>
                            <div>
                                <span id="1"></span>
                                Diferencia de la última actualización:
                                <span id="dif" class="difference">{{data1['last_total']}}</span>
                            </div>
                        </p>
                    </section>
                    <section class="card">
                        <h2>Recaudación Total del Mes Pasado</h2>
                        <strong id="last_months_total" class="formatted-number">{{data1['last_months_total']}}</strong>
                        <p>
                            La recaudación total del mes anterior fue de $<span id="last_months_total_span" class="formatted-number">{{data1['last_months_total']}}</span>.
                            Actualmente, se registra <span class="percent-message">{{data1['last_months_total']}}</span> respecto al monto actual, lo que
                            representa una diferencia de <span id="last_months_total_dif" class="difference">{{data1['last_months_total']}}</span>.
                        </p>
                    </section>
                    <section class="card">
                        <h2>Recaudación Parcial del Mes Pasado</h2>
                        <strong id="last_months_total_today" class="formatted-number">{{data1['last_months_total_today']}}</strong>
                        <p>
                            El mes pasado, en este mismo día, la recaudación fue de $<span class="formatted-number">{{data1['last_months_total_today']}}</span>.
                            Actualmente, se registra <span id="last_months_total_today_span" class="percent-message">{{data1['last_months_total_today']}}</span> respecto al monto actual, lo que
                            representa una diferencia de <span id="last_months_total_today_dif" class="difference">{{data1['last_months_total_today']}}</span>.
                        </p>
                    </section>
                </article>
            </main>
            <footer>
                <h2>Copyright &copy; 2025 Resumen Financiero</h2>
            </footer>
        </div>
    </body>
</html>
