<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Sitio web destinado al analisis de resumenes financieros">
        <title>Resumenes</title>
        <link rel="stylesheet" href="/static/css/mystyle.css">
        <link rel="icon" type="image/png" sizes="16x16" rel="icon" href="/static/assets/phone-and-cash.png">
        <!-- <link rel="stylesheet" href="/front/static/css/mystyle.css"> -->
        <!-- scripts como: darle comportamiento al boton Actualizar Resumen, restar numeros y formatear el resultado  -->
        <script src="/static/js/scripts.js"></script>
        <!-- fuente de google -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
        <!-- fuente de google para titulos -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
        <!-- carga de los valores total y last_total para el script -->
        <div id="totalValue" data-total="{{data1['total']}}" style="display:none;"></div>
        <div id="lastTotalValue" data-last-total="{{data1['last_total']}}" style="display:none;"></div>
    </head>
    <body>
        <h1 class="resumenes-title">Resumenes</h1>
        <article class="article-id"> 
            <h1>
                <button class='actualizar-button-style' id='actualizar'>
                    <div class='texto-btn'>Actualizar Resumen</div>
                </button>
                <div id="spinner" style="display: none;"></div>
            </h1>
        </article>
        <main>
            <article id="total-hoy">
                <h2>Total de Hoy</h2> 
                <p> 
                    <h3 id="total" class="formatted-number">{{data1['total']}}</h3>
                    <div>
                        Ult. vez actualizado: <span id='last-report-date'>{{data1['last_report_date']}}</span>
                    </div>
                    <div>
                        Diferencia de la última actualización: <span id="dif" class="difference">{{data1['last_total']}}</span>
                    </div>
                </p>
            </article>
            <article> 
                <h2>Recaudación Total del Mes Pasado</h2>
                <strong class="formatted-number">
                    {{data1['last_months_total']}}
                </strong>
                <p>
                    La recaudación total del mes anterior fue de $<span class="formatted-number">{{data1['last_months_total']}}</span>.
                    Actualmente, se registra un <span class='percent-message'>{{data1['last_months_total']}}</span> respecto al monto actual, lo que 
                    representa una diferencia de <span class='difference'>{{data1['last_months_total']}}</span>. 
                </p>
            </article>
            <article> 
                <h2>Recaudación Parcial del Mes Pasado</h2>
                <strong class="formatted-number">
                    {{data1['last_months_total_today']}}
                </strong>
                <p>
                    El mes pasado, en este mismo día, la recaudación fue de $<span class="formatted-number">{{data1['last_months_total_today']}}</span>.
                    Actualmente, se registra un <span class='percent-message'>{{data1['last_months_total_today']}}</span> respecto al monto actual, lo que 
                    representa una diferencia de <span class='difference'>{{data1['last_months_total_today']}}</span>. 
                </p>
            </article>
        </main>
        <footer>
            Copyright &copy 2025 Resumen Financiero
        </footer>
    </body>
</html>
